body {
    background-color: #1e213f;
    color: #d7e0ff;
    background-image: url(bg_picture.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    text-align: center;
    width: 100%;
    padding: 10px 0;
}

.timer {
    display: inline-block;
    padding: 10px;
    width: 600px;
    box-sizing: border-box;
    background-color: rgba(23, 162, 162, 0.801);
    border-radius: 20px;
}

h1 {
    font-size: 50px;
    width: 8ch;
    margin: 20px auto;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    background-color: #2e325a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f87070;
}

.hidden {
    display: block;
}

.timer-display {
    font-size: 5em;
    margin-top: 20px;
    font-weight: bold;
}

#buttons {
    margin-top: 20px;
}

#start, #stop {
    background-color: #2e325a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}
  
#stop:hover {
    background-color: tomato;
}

#start:hover {
    background-color: #219a52;
}

#timer-message {
    color: white;
    background-color: tomato;
    display: none;
    padding: .5em;
    font-size: 1em;
    text-align: center;
    border-radius: 1em;
}
